*{
    box-sizing: border-box;
}

.main-view {
    font-family: 'Fire Sans', sans-serif;
    background: steelblue;
    width: 100%;
    display: inline-block;
}

.bg-navColor{
    background: black;
}